simulationData/*.zip
simulationData/001_1stTrackSampleDrivingData/IMG/
simulationData/002_hardLeftTurn20201208_0220/IMG/
simulationData/003_OwnRecordingOneLapAntiClockwise/IMG/
simulationData/004_ownRecordOneLapClockwise/IMG
simulationData/005_ownRecordOneLapAntiClockwise/IMG
simulationData/**/IMG

.ssh/